body, html {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: gray;
}

.messenger{
    width: 50%;
    height: 50%;
    position: relative;
    top: 25%;
    margin: 0 auto;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 1px 0px black;
}

.profile{
    position: relative;
    float: left;
    display: inline-block;
    height: 100%;
    width: 30%;
    box-shadow: 0 0 3px 0px black;
    overflow: auto;
}

.profile ul{
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
}

.profile ul li{
    background: white;
    text-decoration: none;
}

.profile ul li .conversation-container{
    padding: 10px;
    box-shadow: 0 0 2px black;
}

.profile ul li .conversation-item{
    overflow: hidden;
    clear: both;
}

.profile ul li .conversation-logo{
    float: left;
}

.profile ul li .conversation-text{
    padding-left: 4px;
    float: left;
}

.profile ul li .conversation-name{
    font-size: 15px;
}

.profile ul li .conversation-last{
    font-size: 13px;
    margin-left: calc(0% + 5px);
    margin-top: 10px;
}

.profile ul li .conversation-logo img{
    border-radius: 100%;
    width: 30px;
    height: 30px;
}

.conversation{
    height: calc(100% - 60px);
    overflow: auto;
    padding: 20px;
    padding-bottom: 0;
}

li#messages-received{
    float: left;
    background-color: #ddd;
}

li#messages-sent{
    float: right;
    background-color: rgb(0, 132, 255);
    color: white;
}

.messages{
    margin-bottom: 10px;
}

.message{
    clear: both;
    margin-bottom: 2px;
    padding: 7px 13px;
    border-radius: 13px;
}

.textBox{
    height: 39px;
    border-top: 1px solid #ccc;
    width: 70%;
    float: right;
}

.send-message{
    height: 99%;
}

.message-input{
    height: inherit;
    border: none;
    width: calc(100% - 60px);
    padding: 0 10px;
    font-size: 14px;
    float: left;
}

.message-button{
    height: inherit;
    float: left;
    width: 40px;
}

.userInfo{
    margin: 10px;
    float: right;
}

.login-button-container{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-button{
    padding: 20px;
    font-size: 18px;
}

.button {
    
    width: 70px;
    margin-left: 10px;
   
}

ul {
    list-style-type: none;
}
.name{
    font-size: 70%;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.your-name {
    font-size: 14px;
}
